body{
    background-color:rgb(154, 188, 231)
}
p{
    font-size: 20px;  
    color: black; 
}   

#p-first{
    font-size: 24px;    
}

.p-color{
    color: black;
}

img{
    width: 300px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding:10px;
    margin:8px;
    border: 1px solid #000;
}


#menu li
{
    display: inline;
    padding: 15px;
}

#menu li a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
#menu li a:hover
{
    color: rgb(255, 0, 0);
}

.alinharMapa{
    display: flex;
    text-align:left;
    align-items: center;
}

.paginaInicial{
    font-size:15px;
}

.icones {
    margin: 10px 0px 10px 0px;
}